@use "partials/reboot";
@use "partials/mixins";
@use "partials/variables";

// TODO:
// - adjust the size, padding for all elements
// - make some refactoring to clean up our codes

.btn {
  display: inline-block;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  color: inherit;

  &-group {
    @include mixins.flex($direction: column);
    column-gap: 2rem;
    row-gap: 1rem;

    @include mixins.mq_md {
      @include mixins.flex($direction: row);
    }
  }

  &-translucent {
    text-transform: uppercase;
    background: variables.$grad-red;
    padding: 1rem 2rem;
    width: 13rem;
  }

  &-bordered {
    padding: 0.5rem 1rem;
    border: 1px solid variables.$gray-1;
  }
}

.container {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: calc(100vw - 4rem);

  @include mixins.border(left);
  @include mixins.border(right);

  @include mixins.mq_md {
    padding: 0 3rem;
    max-width: calc(100vw - 6rem);
  }
  @include mixins.mq_lg {
    padding: 0 4rem;
    max-width: calc(100vw - 10rem);
  }
  @include mixins.mq_xl {
    padding: 0 4.5rem;
    max-width: calc(100vw - 14rem);
  }
}

.logo {
  height: 2.5rem;
  display: inline-block;

  @include mixins.mq_md {
    height: 3rem;
  }
  @include mixins.mq_lg {
    height: 3.5rem;
  }
}

:root {
  scroll-behavior: smooth;
  background-color: variables.$black-1;
  min-width: variables.$min-width;
}

header {
  background-image: url("/assets/illustrations/Bathome1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;

  &::after {
    content: "";
    @include mixins.p_absolute($y_axis: bottom, $height: 4rem);
    background: variables.$grad-black;
    z-index: 1;
  }

  .nav {
    &.container {
      @include mixins.border($position: bottom, $width: 0.25rem);
    }

    &-wrapper {
      @include mixins.flex($justify-content: space-between);
      padding-top: 2.5rem;
      padding-bottom: 3rem;

      @include mixins.mq_md {
        padding-top: 3rem;
        padding-bottom: 3.5rem;
      }
      @include mixins.mq_lg {
        padding-top: 4rem;
        padding-bottom: 4.5rem;
      }
    }
  }
  .links {
    @include mixins.flex($justify-content: space-between);
    font-size: 2rem;
  }
  .link {
    position: relative;

    &:hover::after,
    &-active::after {
      @include mixins.border(bottom, variables.$white, 2px);
      @include mixins.p_absolute($y_value: 102%);
      text-decoration: underline;
      content: "";
    }
  }

  .banner {
    &-wrapper {
      max-width: 75%;
      margin: 0 auto;
      text-align: center;
      padding-top: 4rem;
      padding-bottom: 4rem;

      @include mixins.mq_md {
        padding-top: 6rem;
        padding-bottom: 8rem;
      }
      @include mixins.mq_lg {
        max-width: 60%;
        padding-top: 10rem;
        padding-bottom: 14rem;
      }
    }

    &-description {
      margin-bottom: 1rem;
    }

    &-title {
      margin-bottom: 1.3rem;
    }
  }
}

aside {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  .container {
    position: relative;
  }

  .networks {
    @include mixins.flex($direction: column);
    @include mixins.p_absolute($x_axis: right, $x_value: 0, $width: auto);
    transform: translate(50%, -50%);
    gap: 1.5rem;
  }

  .icon-aside {
    max-width: 2.8rem;

    @include mixins.mq_md {
      max-width: 3.5rem;
    }
    @include mixins.mq_lg {
      max-width: 5rem;
    }

    img {
      display: inline;
      width: 100%;
    }
  }
}

.section {
  @include mixins.mq_md {
    &-left {
      .section-title,
      .section-text {
        padding-right: 4rem;
      }
    }
    &-right {
      .section-title,
      .section-text {
        padding-left: 4rem;
      }
    }
  }

  &.arrow-down {
    margin-bottom: 4rem;

    img {
      height: 2.2rem;
      margin: 0 auto;
      display: block;
    }
  }

  &-title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;

    @include mixins.mq_md {
      text-align: start;
    }
  }

  &-text {
    padding-bottom: 4.5rem;
    text-align: justify;
  }

  &-images {
    @include mixins.flex();
    flex-wrap: wrap;
    padding-bottom: 4rem;
    text-align: center;
    gap: 4rem;
  }

  &-image {
    display: block;
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  &-image-full {
    display: block;
    max-width: 100%;
  }

  &-form {
    background: variables.$grad-blue;

    .section-title {
      text-align: center;
    }

    .forms {
      max-width: 720px;
      margin: 0 auto;
      padding: 2rem 3rem;
    }

    label,
    input,
    textarea,
    select {
      margin-bottom: 1.5rem;
    }

    .form-heading {
      display: block;
      text-transform: uppercase;
    }

    .input-block,
    .input-block::placeholder {
      display: block;
      width: 100%;
      background-color: transparent;
      outline: none;
      border: none;
      @include mixins.border($color: variables.$gray-1, $width: 1px);
      color: variables.$gray-1;
      font: inherit;
      font-size: 0.875rem;
    }

    .radio-group {
      @include mixins.flex();
      gap: 1rem;
    }

    .radio-group input[type="radio"] {
      display: none;
    }
    .radio-group input[type="radio"]:checked + label {
      color: red !important;
    }
  }
}

.carousel {
  @include mixins.flex($justify-content: space-between);
  gap: 1.5rem;
  font-size: 0.75rem;
  margin-bottom: 5rem;

  @include mixins.mq_sm {
    font-size: 0.875rem;
  }

  &-control {
    width: 1rem;
    cursor: pointer;

    @include mixins.mq_sm {
      width: 1.5rem;
    }
    @include mixins.mq_md {
      width: 2rem;
    }
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 500px;
    align-items: center;

    @include mixins.mq_sm {
      grid-template-columns: 1fr 3fr;
    }

    &-text {
      padding: 0.5rem;
      background: variables.$grad-blue;
      @include mixins.flex($direction: column, $align-items: start);
      min-height: 100%;

      @include mixins.mq_sm {
        padding: 1rem;
      }
    }

    &-text--detail {
      display: none;

      @include mixins.mq_sm {
        display: block;
      }
    }

    &-image {
      width: 100%;
      height: 100%;
    }
  }
}

.multimedia > * {
  width: 100%;
}

.quotes {
  @include mixins.flex($justify-content: space-evenly, $align-items: flex-start);
  text-align: center;
  padding: 8rem 0;

  &-image {
    width: 4rem;
  }

  #quotes-image-second {
    align-self: flex-end;
  }

  &-content {
    padding: 4rem 2rem;
    max-width: 500px;
  }

  &-text {
    margin-bottom: 1rem;
  }
  &-author {
    color: variables.$gray-1;
    margin-bottom: 0.5rem;
  }

  &-navigation-btn {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid variables.$blue;
    margin: 0 1px;
    display: inline-block;

    &-active {
      background-color: variables.$blue;
    }
  }
}

footer {
  .container {
    padding-bottom: 8rem;
  }

  .flex {
    @include mixins.flex();
    gap: 0.5rem;
  }
  .networks {
    gap: 2rem;
    margin-top: 2rem;
  }
}

.icon {
  &-small {
    height: 1.3rem;
    img {
      height: 100%;
    }
  }
  &-medium {
    height: 2.8rem;
  }
}
