@use "partials/reboot";
@use "partials/mixins";
@use "partials/variables";

// TODO:
// - adjust the size, padding for all elements

.btn {
  &-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    column-gap: 2rem;

    @include mixins.mq_md {
      flex-direction: row;
    }
  }

  &-translucent {
    text-transform: uppercase;
    background: variables.$grad-red;
    padding: 1rem 2rem;
    display: inline-block;
    width: 13.125rem;
  }
}

.container {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: calc(100vw - 3rem);

  @include mixins.border(left);
  @include mixins.border(right);

  @include mixins.mq_md {
    padding: 0 2rem;
    max-width: calc(100vw - 6rem);
  }
  @include mixins.mq_lg {
    padding: 0 3rem;
    max-width: calc(100vw - 10rem);
  }
  @include mixins.mq_xl {
    padding: 0 4rem;
    max-width: calc(100vw - 14rem);
  }
}

.logo {
  height: 2.5rem;
  display: inline-block;

  @include mixins.mq_md {
    height: 3rem;
  }
  @include mixins.mq_lg {
    height: 3.5rem;
  }
}

:root {
  background-color: variables.$black-2;
}

header {
  background-image: url("/assets/illustrations/Bathome1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 1;
    background: variables.$grad-black;
  }

  .nav {
    &.container {
      @include mixins.border($position: bottom, $width: 3px);
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 2.5rem;
      padding-bottom: 3rem;

      @include mixins.mq_md {
        padding-top: 3rem;
        padding-bottom: 3.5rem;
      }
      @include mixins.mq_lg {
        padding-top: 4rem;
        padding-bottom: 4.5rem;
      }
    }
  }
  .links {
    display: flex;
    font-size: 2rem;
  }
  .link {
    position: relative;

    &:hover::after,
    &-active::after {
      content: "";
      position: absolute;
      left: 0;
      top: 102%;
      width: 100%;
      text-decoration: underline;
      border-bottom: 2px solid variables.$white;
    }
  }
  .banner {
    &-wrapper {
      max-width: 75%;
      margin: 0 auto;
      text-align: center;
      padding-top: 4rem;
      padding-bottom: 4rem;

      @include mixins.mq_md {
        padding-top: 6rem;
        padding-bottom: 8rem;
      }
      @include mixins.mq_lg {
        max-width: 60%;
        padding-top: 10rem;
        padding-bottom: 14rem;
      }
    }

    &-description {
      margin-bottom: 1rem;
    }

    &-title {
      margin-bottom: 1.3rem;
    }
  }
}
