@use "./variables";
@use "./mixins";

#home {
  header {
    background: url("/assets/illustrations/home/Bathome1.png") no-repeat top
      center;
    background-size: cover;
  }
  .popup {
    // the background of the popup is obtained by superposing "$black-1" and "$grad-blue-transp-2", so we use
    // - ".popup-content::after" to get the "$black-1" layer
    // - ".popup-body" to get the "$grad-blue-transp-2" layer
    &-content::after,
    &-body {
      @include mixins.flex($direction: column);
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60%;
      height: 250px;
      max-width: 300px;
      transform: translate(-50%, -50%);
      border-radius: 1rem;
    }

    &-content::after {
      content: "";
      z-index: -1;
      background: variables.$black-1;
    }

    &-body {
      background: variables.$grad-blue-transp-2;
      text-transform: uppercase;
      box-shadow: 0 0 2rem 0 variables.$black-3;
    }
  }
}

.section {
  @include mixins.mq_md {
    &-left {
      .section-title,
      .section-text {
        padding-right: 6rem;
      }
    }

    &-right {
      .section-title,
      .section-text {
        padding-left: 6rem;
      }
    }
  }

  &.arrow-down {
    .container {
      padding-bottom: 4rem;
    }

    img {
      cursor: pointer;
      height: 2.2rem;
      margin: 0 auto;
      display: block;
    }
  }

  &-title {
    font-size: 1.75rem;
    text-align: center;
    text-transform: uppercase;
    @include mixins.padding_y(2rem, 2rem);
    @include mixins.font_spaceGrotesk_bold;

    @include mixins.mq_md {
      text-align: start;
    }
  }

  &-ally {
    position: relative;

    > img {
      position: absolute;
      top: 0;
      right: 0;
      height: 11rem;
      transform: translateY(-50%);
      z-index: 11;

      @include mixins.mq_md {
        height: 15rem;
        transform: translateY(-65%);
      }
      @include mixins.mq_lg {
        height: 18rem;
        transform: translateY(-80%);
      }
    }
  }

  &-title #nemesis {
    width: max-content;
    position: relative;
  }

  &-title #nemesis img {
    position: absolute;
    bottom: 0;
    left: 100%;
    height: 5.5rem;
    transform: translateX(-40%);
  }

  &-text {
    padding-bottom: 4.5rem;
    text-align: justify;
  }

  &-images {
    @include mixins.flex();
    gap: 4rem 2rem;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 4rem;
  }

  &-image-wrapper {
    position: relative;
    width: 330px;
    max-width: 100%;
    transition: all ease 0.3s;
    &:hover {
      // the element with this class is being animated in which we also manipulate "transform" property
      // so we need to make sure the value here takes precedence over that one from the animation
      transform: scale(1.1) !important;
    }

    &:hover .section-image-caption {
      display: block;
    }
  }

  &-image {
    display: block;
    width: 100%;
  }

  &-image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem 2rem 3rem;
    background: variables.$yellow-3;
    display: none;

    > img {
      position: absolute;
      top: 50%;
      left: 0;
      width: 3rem;
      height: 3rem;
      transform: translate(50%, -70%);
    }

    small {
      font-size: 0.6rem;
      color: variables.$yellow-1;
    }

    p {
      background: variables.$grad-red-transp;
      padding: 1rem 1.5rem;
      border-radius: 4rem;
      font-size: 0.8rem;
    }

    @include mixins.mq_sm {
      padding: 2rem 2rem 2rem 4rem;

      > img {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  &-form {
    background: variables.$grad-blue-transp;

    .section-title {
      text-align: center;
    }

    .forms {
      max-width: variables.$lg;
      margin: 0 auto;
      padding: 2rem 4rem;

      @include mixins.mq_md {
        padding: 2rem 6rem;
      }
    }

    label,
    input,
    textarea,
    .select-option-visible {
      margin-bottom: 1.8rem;
    }

    .form-heading {
      display: block;
      text-transform: uppercase;
    }

    .form-heading ~ *,
    .form-heading ~ ::placeholder {
      @include mixins.text-light;
    }

    .input-block,
    .input-block::placeholder {
      width: 100%;
      display: block;
      background-color: transparent;
    }

    .input-block {
      @include mixins.border($color: variables.$gray-1, $width: 1px);
    }

    .checkbox-wrapper {
      @include mixins.mq_md {
        max-width: 90%;
      }
    }

    .radio-group {
      @include mixins.flex();
      @include mixins.text-white;
      gap: 1rem;

      input[type="radio"] {
        display: none;
      }

      input[type="radio"]:checked + .btn-bordered {
        background: variables.$grad-blue-transp;
      }
    }

    #message {
      min-height: 1.5rem;
      min-width: 100%;
      max-width: 100%;
    }
  }
}

.carousel {
  gap: 1.5rem;
  color: variables.$gray-1;
  font-size: 0.75rem;
  margin-bottom: 5rem;
  @include mixins.font_spaceGrotesk_normal;
  @include mixins.flex($justify-content: space-between);

  @include mixins.mq_sm {
    font-size: 0.875rem;
  }

  &-control {
    width: 1rem;
    cursor: pointer;

    @include mixins.mq_sm {
      width: 1.5rem;
    }
    @include mixins.mq_md {
      width: 2rem;
    }
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 500px;
    align-items: center;

    @include mixins.mq_sm {
      grid-template-columns: 1fr 3fr;
    }

    &-text {
      gap: 0.5rem;
      padding: 0.5rem;
      min-height: 100%;
      background: variables.$grad-blue-transp;
      @include mixins.flex($direction: column, $align-items: start);

      @include mixins.mq_sm {
        padding: 1rem;
      }

      h5 {
        letter-spacing: 1px;
      }
    }

    &-text--detail {
      display: none;

      @include mixins.mq_md {
        display: block;
      }
    }

    &-image {
      width: 100%;
      height: 100%;
    }

    .imdb {
      color: variables.$yellow-2;
    }
  }
}

#section-justice-league img {
  transition: all ease 0.5s;
  display: block;
  width: 100%;
  min-height: 200px;
}

.video-wrapper {
  padding-bottom: 6rem;

  #img-ba {
    width: 100%;
  }

  #link-ba {
    position: relative;
    display: block;
  }

  #link-ba:hover {
    box-shadow: 0 0 2rem 0 variables.$white-2;
  }

  #link-ba:hover #icon-player {
    display: block;
  }

  #icon-player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
}

.quotes {
  @include mixins.flex(
    $justify-content: space-evenly,
    $align-items: flex-start
  );
  text-align: center;
  padding: 8rem 0;

  &-image {
    width: 4rem;
  }

  #quotes-image-second {
    align-self: flex-end;
  }

  &-content {
    padding: 4rem 2rem;
    max-width: 500px;
  }

  &-text {
    margin-bottom: 1rem;
  }

  &-author {
    @include mixins.text-light;
    margin-bottom: 0.5rem;
  }

  &-navigation-btn {
    margin: 0 1px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 1px solid variables.$blue;
    border-radius: 50%;

    &-active {
      background-color: variables.$blue;
    }
  }
}

#select {
  position: relative;

  &.select-shown {
    .select-options {
      display: block;
    }

    .select-option-visible-icon {
      transform: rotate(180deg);
    }
  }

  .select-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    display: none;
    background: variables.$black-1;
    box-shadow: 0 0 2rem 0 variables.$black-3;
  }

  .select-option-visible {
    display: grid;
    grid-template: 1fr / 1fr 2rem;
    cursor: pointer;

    &-text {
      white-space: nowrap;
      overflow: hidden;
    }

    &-icon {
      height: 1rem;
      justify-self: end;
      align-self: center;
    }
  }

  .select-option {
    background: variables.$grad-blue-transp-2;
    padding: 0.5rem;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    @include mixins.border(bottom);

    &:hover {
      background: variables.$grad-blue-transp;
    }
  }
}
